name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # ratchet:actions/checkout@v4
      - uses: jdx/mise-action@5083fe46f0f7c1daab1f0e193bdfe83ae2b84505 # ratchet:jdx/mise-action@v2
      - run: npm ci
      - run: just deps-ci

      - name: Validate
        run: just validate

      - name: Build
        run: just build

      - name: Lint
        run: just lint

      - name: Test
        run: just test

      - name: Build README
        run: just build-readme
